@font-face {
    font-family: Spectral;
    src: url("./Spectral_SC/SpectralSC-Regular.ttf")
}

@font-face {
    font-family: Roboto;
    src: url("./Roboto/Roboto-Regular.ttf")
}

.page{
   background-color: #E7DECD;
}

body{
    margin: 0;
    font-family: Roboto;
}

header {
    height: 100px;
    background: linear-gradient(90deg, #4D8B31,black 10%); 
}

.header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 92%;
    padding-top:20px;
    color: white; 
    align-items: flex-end;  
}

.logo{
    width: 61px;
    height: 54px;
}
.logoTitle{
    display: flex;
    align-items: flex-end;
}

.name{
    font-size: 40px;
    font-family: Spectral;
    line-height: 28px;
    color:#E7DECD;
    margin: 0;
    }
a {
    color: white;
    text-decoration: none;
}
.Menu{
    display: flex;
    }
    
.menu{
    font-size: 17px;
    font-family: Roboto;
    color: white;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    }
.menu > p {
    margin:  0 20px;
    }
  
.number{
    font-family: Roboto;
    font-size: 17px;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
} 
.number > p {
    margin:  0;
}
    
.contacts{
    display: flex;
    align-items: flex-end; 
}

.cont{
    height: 30px;
    margin:  0 10px;
    
}

.pic1{
    width: 100%;
    height: auto;
    margin: 0;
}

.info{
    display: flex;
    justify-content: center;
    margin-top: -5px;
    width: 100%;
    
}  
.textBlock{
    background-color: black;
    height: 480px;
    border: 2px solid #4D8B31;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}  

.titleText{
    font-size: 30px;
    color: white;
    margin-top: 15px ;
}

.text{
    font-size: 17px;
    padding: 0 25px;
    color: white;
    text-align: justify;
    line-height: 1.6;
}

.lastNews{
    font-size: 40px;
    text-align: center;
    margin-top:110px;
    margin-bottom: 60px;
}

.pic{
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.picText{
    font-size: 17px;
}
.picText > p {
    margin: 15px 0 140px 0;
}

.position{
    text-align: center;
    width: 20%;
}

.news{
    width: 90%;
    justify-content: space-between;
    display: flex;
    margin: auto;
}

.element{
    height: 40px;
}

.elText{
    font-size: 14px;
    margin-bottom:17px;
    
}
.CONTACTI{
    margin-top:60px;
    font-size: 16px;
    margin-left: 70px;
}

.pos{
    text-align: center;
    margin: 30px;
}
.lastText{
    font-size:14px;
    width: 100%;
    display: flex;
    padding:0 0 50px 70px;
    box-sizing: border-box;
    
}
.footer{
    width: 100%;
    display: flex;
    margin: auto;
    padding-top:40px;
    border-top: 1px solid black;
}
.headerMOBILE{
    display: none;
}
.Arrow{
    display: none;
}


@media only screen and (max-width: 938px){
    header {
        height: 80px;
    }
    .header{
        width: 92%;
    }
    .logo{
        width: 50px;
        height: 44px;
    }
    .name{
        font-size: 30px;
    }
    .menu{
        font-size: 12px;
        }
    .number{
        font-size: 12px;
    }
    .cont{
        height: 25px;
    }
   
}


@media only screen and (max-width: 768px){
header{
    background: black;
    height: 70px;
    align-items: center;
}
    .header{
    display: none;
}
.headerMOBILE{
    display: flex;
    margin: auto;
    width: 90%;
    height: 100%;
    color: white; 
    align-items: center;
}
.logo{
    width: 60px;
    height: 54px;
}
.logoTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;   
}
.name{
    font-size: 40px;
    font-family: Spectral;
    line-height: 40px;
    color:#E7DECD;
    
    }
.burger{
    height: 35px;
}



.info{
    flex-direction: column;
}
.textBlock{
width: 90%;
background-color: #E7DECD;
height: auto;
border: 2px solid #E7DECD;
margin: auto;
}
.titleText{
    color: black;
    margin-top: 0 ;
}
.text{
    padding: 0;
    color: black;
    text-align: center;
}

.lastNews{
    font-size: 30px;
    margin: 80px auto 40px auto;
}
.position{
    width: 25%;
}
#position4{
    display: none;
}
.news{
    width: 100%;
    padding: 35px;
}
.arrow{
    width: 98%;
    justify-content: space-between;
    display: flex;
    margin: 0 auto 100px auto;
}
.picArrow{
    width: 100%;
    margin-bottom: 52px; 
}
.Arrow{
    width:5%;
    display: flex;
    align-items: center;

}
.picText{
    font-size: 15px;
}
.picText > p {
margin: 10px auto;
}


.footer{
    flex-direction: column;
}
.CONTACTI{
    margin: auto ;
    width: 90%;
    font-size: 16px;
}
.pos{
    display: flex;
    margin: auto;
    width: 90%;
    align-items: center;
}
.elText{
    margin: 0 0 0 10px; 
    font-size: 14px;
}
.lastText{
    margin:auto;
    width: 90%;
    padding: 0;
    font-size: 14px;
}
.element{
    height: 35px;
}

}

@media only screen and (max-width: 576px){
    header{
        height: 30px;
    }
    
    .logo{
        width: 25px;
        height: 25px;
    }
    .name{
        font-size: 18px;
        margin: 0;
        align-items: center;
        line-height: 18px;
        }
    .name > p {
        margin: 0;
    }
    .burger{
        height: 20px;
    }



   
        .titleText{
            font-size: 17px;
        }
        .text{
            font-size: 13px;
        }
        .lastNews{
            font-size: 17px;
            margin: 70px auto 25px auto;
        }
        .position{
            width: 45%;
        }
        #position3{
            display: none;
        }
        .picText{
            font-size: 15px;
        }
        .picText > p {
        margin: 10px auto ;
        }
        .arrow{
            margin: 0 auto 80px auto;
        }
        .Arrow{
            width:10%;
        }
        



    .CONTACTI{
        margin: auto ;
        width: 90%;
        font-size: 13px;
    }
    .pos{
        display: flex;
        margin: auto;
        width: 90%;
        align-items: center;
    }
    .elText{
        margin: 0 0 0 10px; 
        font-size: 12px;
    }
    .lastText{
        margin:auto;
        width: 90%;
        padding: 0;
        font-size: 12px;
    }
    .element{
        height: 25px;
    }
    .footer{
        padding-top:20px;
    }
    }